* {
    margin: 0;
    padding: 0;
    font-family: 'Asap', 'Calibri', sans-serif;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    background-image: url("../images/background-pattern.png");
}

/* ========== General styling =========================================================== */
.outer {
    margin: 0% 15%;
    background-color: white !important;
    padding: 10px;
}

/* ========== Navbar ==================================================================== */
#navbar {
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: white;
    padding-left: 10%;
}

#navbar a {
    color: rgb(211, 211, 211);
    text-decoration: none;
}

#navbar a:hover {
    color: white;
    cursor: pointer;
}

#navbar div {
    padding: 15px;
}

#navbar-logo {
    font-size: 20px;
    font-weight: bold;
}

#navbar-menu {
    position: relative;
}

#navbar-login {
    margin-left: auto;
}

#navbar-loggedin {
    margin-left: auto;
}

/* ========== Top search bar ======================================================= */
#top-searchbar {
    padding: 20px;
    text-align: center;
}

#searchbar-itself {
    height: 35px;
    width: calc(50% - 50px);
    padding: 10px;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
}

#searchbutton-itself {
    height: 35px;
    width: 35px;
    border-radius: 17.5px;
    border: none;
    margin: 0px 0px 0px 6px;
}

#searchbar-place-ad-button {
    border: none;
    height: 35px;
    width: 30%;
    min-width: 150px;
    margin-left: 20px;
    background-color: green;
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
}

#line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.192);
    margin-top: 15px;
}

/* ========== Landing page ========================================================= */

#landing-page {
    text-align: center;
    padding-top: 50px;;
}

#landing-page div {
    padding: 20px;
}

#landing-page-header p {
    padding: 10px;
}

#landing-page-searchbar-itself {
    height: 80px;
    width: 50%;
    min-width: 300px;
    border-radius: 40px;
    padding: 30px;
    font-size: 25px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199) inset;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
}

#landing-page-searchbutton-itself {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    font-size: 25px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
    cursor: pointer;
}

#landing-page-adbutton-itself {
    height: 100px;
    width: 300px;
    background-color: green;
    border: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
}

/* ========== Registration page ==================================================== */
#registration-form {
    padding: 30px 10%;
}

#registration-form form p{
    margin: 20px;
}

#registration-form input {
    height: 40px;
    min-width: 300px;
    width: 100%;
    padding: 10px;
}

/* ========== Registered successfully ============================================== */
#registered-successfully {
    background-color: white;
}

/* ========== Login ================================================================ */
#login-page {
    padding: 30px 10%;
}

#login-page form p{
    margin: 20px;
}

#login-page input {
    height: 40px;
    min-width: 300px;
    width: 100%;
    padding: 10px;
}

/* ========== Place an ad ========================================================== */

#place-ad {
    padding: 30px 10%;
}

#place-ad form p{
    margin: 20px;
}

#place-ad input {
    height: 40px;
    min-width: 300px;
    width: 100%;
    padding: 10px;
}

#place-ad textarea {
    height: 120px;
    min-width: 300px;
    width: 100%;
    padding: 10px;
}

/* ========== View ads ============================================================= */

.aditem {
    margin: 15px;
    padding: 15px;
    background-color: rgb(243, 243, 243);
}

.aditem p {
    padding: 10px;
}

/* ========== Ad details =========================================================== */
#ad-details-wrapper {
    margin: 0px 100px;
}

#ad-itself-wrapper {
    background-color: rgb(235, 235, 235);
    padding: 10px;
    margin-bottom: 20px;
}

#ad-itself-wrapper div {
    margin: 20px;
}

#ad-details-price-seller div {
    display: inline-block;
    margin: 20px 20px 0px;
    background-color: rgb(58, 58, 58);
    padding: 20px;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
}

#ad-details-contact-form {
    text-align: right;
}

#ad-details-contact-form textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 15px;
}

#ad-details-contact-form input {
    width: 50%;
    min-width: 200px;
    height: 50px;
    background-color: green;
    border: none;
    color: white;
    font-size: 15px;
    margin: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
}

/* ========== Messages ============================================================= */
.message-item {
    margin: 10px;
    padding: 10px;
    background-color: rgb(231, 231, 231);
}

/* ========== Copyright footer ===================================================== */
#copyright-footer {
    width: 70%;
    margin: 0% 15%;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    /* left: 0; */
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 35px;
}

#copyright-footer-landing {
    width: 70%;
    margin: 0% 15%;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    background-color: inherit;
    height: 35px;
}

html, body {
    height: 100%;
}

#main-wrapper {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 35px;
    min-height: 100%;
  }